.questions-wrapper {
  min-width: 800px;
}

div {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  .questions {
    padding-left: 0;
    height: 75vh;

    .card {
      border: none;
      position: relative;
      z-index: 10;
      align-items: flex-start;

      border-radius: 50px;
      background: #ffe4c4;
      box-shadow: 20px 20px 60px #d9c2a7, -20px -20px 60px #ffffe1;

      .foot-note {
        color: #800000;
        width: 100%;
        margin-bottom: -15px;
        margin-top: 5px;
        font-size: 12px;
        font-weight: normal;
      }

      .edit {
        position: absolute;
        left: 25px;
        top: 8px;

        text-decoration: underline;
        font-size: 14px;
        cursor: pointer;
      }

      .delete {
        position: absolute;

        right: 25px;
        top: 8px;

        text-decoration: underline;
        font-size: 14px;
        cursor: pointer;
      }

      .title {
        font-size: 15px;
        margin-bottom: 5px;
        color: #800000;

        text-align: left;
        white-space: pre-line;
      }

      padding: 0 2rem;
      height: auto;
      width: 600px;
      background-color: bisque;
      margin-bottom: 25px;
      margin-left: 20px;
      padding-top: 40px;
      padding-bottom: 35px;

      .form-control {
        background: none;
        border: none;
        // max-width: 290px;
        font-size: 14px;
        color: #800000;
      }

      .input-group {
        margin-bottom: 0 !important;
      }

      .input-group-text {
        padding: 0;
        background: none;
        border: none;
        margin-left: 20px;
      }

      .red {
        color: red;
        font-size: 15px;
      }

      .green {
        color: green;
        max-width: 300px;
        font-size: 15px;
      }

      .res-msg {
        margin-top: 20px;
        max-width: 300px;
        font-size: 15px;
      }

      .edit-icon,
      .delete-icon {
        width: 15px;
      }
    }

    .submit-btn {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 550px) {
  .questions {
    margin-left: 190px;
  }
}
