* {
  font-family: "Times New Roman", Times, serif;
}

.btn {
  font-weight: bold;
}

body {
  background-color: #fcfcfc;
}

.back-icon,
.reload-icon {
  width: 20px;
}

.reload {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
  text-decoration: underline;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}
